@use "../variables" as *;
@use "../mixins" as *;

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  width: 100%;
  height: calc(100vh - $nav-height-mobile);
  padding: $spacing-md;
  z-index: 100;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: $spacing-md;
  }
  &__link {
    font-family: "Poppins", sans-serif;
    font-size: $font-size-xl;
    font-weight: 700;
    text-decoration: none;
    color: $gray;

    @include desktop {
      font-size: $font-size-xxl;
    }

    &:hover {
      color: $light-gray;
    }
  }
}
