@use "../variables" as *;
@use "../mixins" as *;
@use "../buttons" as *;

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, $primary-color, $lime);
  padding: $spacing-xxxl $spacing-md;
  gap: $spacing-sm;
  color: $white;
  width: calc(100% - $spacing-xl);

  @include desktop {
    padding: $spacing-xxl $spacing-md;
    width: calc(100% - $spacing-xxl * 2);
  }

  &__description {
    font-family: "Barlow", sans-serif;
    font-size: $font-size-sm;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0;
  }

  &__headline {
    font-family: "Poppins", sans-serif;
    font-size: $font-size-lg;
    font-weight: 700;

    @include desktop {
      font-size: $font-size-xl;
    }
  }

  &__text {
    text-align: center;
    font-size: $font-size-md;
    font-weight: 300;
    color: $lighter-gray;
  }

  &__button {
    @include button-outline($lighter-gray, $lighter-gray, $light-gray);
  }

  .toast {
    position: fixed;
    top: calc($spacing-xl * 3);
    right: $spacing-md;
    background: $primary-color;
    max-width: 250px;
  }
}
