@use "../variables" as *;
@use "../mixins" as *;
@use "../buttons" as *;

.text-block {
  font-family: "Barlow", sans-serif;
  padding: $spacing-sm !important; // override bootstrap;
  margin-top: $spacing-md;

  @include desktop {
    padding: $spacing-md !important; // override bootstrap;;
  }

  &__content {
    @include desktop {
      padding: $spacing-md;
    }
  }

  &__info {
    margin-bottom: $spacing-xs;
    letter-spacing: 3px;
    color: $gray;
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-weight: 700;
  }

  &__headline {
    color: $black;
    font-size: $font-size-xl;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: $spacing-xxl;

    @include desktop {
      font-size: $font-size-xxxl;
      margin-bottom: $spacing-xxxl;
    }
  }

  &.text-block--small {
    padding: 0 !important; // override bootstrap;

    .text-block__headline {
      font-size: $font-size-lg;
      margin-bottom: $spacing-lg;

      @include desktop {
        font-size: $font-size-xxl;
        margin-bottom: $spacing-xxl;
      }
    }
  }

  &__text,
  &__description {
    display: block;
    font-size: $font-size-sm;
    color: $gray;
    margin-bottom: $spacing-md;

    @include desktop {
      font-size: $font-size-md;
      margin-bottom: $spacing-lg;
    }
  }

  &__socials {
    display: flex;
    margin-top: $spacing-xl;

    @include desktop {
      margin-top: $spacing-xxxl;
    }

    a {
      display: block;
      margin-right: $spacing-md;
      transition: transform 300ms;

      &:hover {
        @include icon-hover-style;
      }

      svg {
        width: $icon-size-sm;
        height: $icon-size-sm;

        @include desktop {
          width: $icon-size-md;
          height: $icon-size-md;
        }
      }
    }
  }

  &__button {
    @include button-outline($gray, $light-gray, $white);
    margin-top: $spacing-md;

    @include desktop {
      margin-top: $spacing-lg;
    }
  }
}
