$primary-color: #9bcc3e;
$lime: #5fbe30;
$black: #000;
$white: #fff;
$dark-gray: #6a6473;
$gray: #333;
$light-gray: #afb3b6;
$lighter-gray: #f5f5f5;
$red: #ff0000;

$font-size-sm: 13px;
$font-size-md: 17px;
$font-size-lg: 22px;
$font-size-xl: 38px;
$font-size-xxl: 42px;
$font-size-xxxl: 68px;

$icon-size-sm: 40px;
$icon-size-md: 50px;

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 30px;
$spacing-xxl: 40px;
$spacing-xxxl: 50px;

$nav-height-mobile: 65px;
$nav-height-desktop: 95px;
